/*Cert*/
@font-face {
  font-family: Taniya;
  src: url('https://devsck.nenggala.id/files/cert.ttf');
}

.nama{
	font-family: 'Taniya';
}
div#parentCanvas{
	width: 700px;
}
.dragContent{
	text-align: center;
	width: auto;
	height: auto;
	color: black;
	cursor: move;
	z-index: 5;
	position: absolute;
	border: 1px solid rgba(0,0,0,0);
	color: #fff;
	/*background-color: rgba(255,255,255,.5)*/
}
div#parentCanvas svg{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	opacity: .5;
}
div#parentCanvas > div#blackCanvas{
	width:100%;
	height:100%;
	position: absolute;
	/*background: rgba(255,255,255,.8);*/
	z-index: 2;
}
/*End Cert*/

div.profilePhoto{
	width: 300px;
	height: 300px;
	border: solid 1px #fff;
	border-radius: 50%;
	position: relative;
	margin: auto;
	/*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
  	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


span.tag-role{
	padding: 5px 20px;
	/*border: 1px solid #000;*/
	border-radius: 2em;
}

span.bg-green1{
	background-color: #27ae60;
	color: #FFF;
}

/*input[type="date"]::-webkit-input-placeholder{ 
    visibility: hidden !important;
}*/

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none!important; 
  margin: 0!important; 
}

label.countNumber{
	/*border: 1px solid #000;*/
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	background: #e74c3c;
	color: #FFF;
	transform: scale(0.8);
	position: relative;
	top: 2.5px;
}


div.bg-header{
	width: 100%;
	height: 350px;
	position: relative;
	background: #e74c3c;
	border-bottom-right-radius: .8em;
	border-bottom-left-radius: .8em;
}

div.contentMain{
	width: 100%;
	height: auto;
	position: relative;
	margin-top: -35%;
	border-radius: 1px solid #000;
}

div.profilePhotoDetail{
	width: 200px;
	height: 300px;
	/*border: solid 1px #fff;*/
	position: relative;
	border-radius: 0.4em;
	/*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
  	/*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

table.table-custom th, table.table-custom td{
	padding: 10px;
}
.table-custom thead, .table-custom tbody{
	width: 100%!important;
	position: relative;
}

/*Custom CSS Responsive*/
@media only screen and (min-width: 1919px) {
	table.table-responsive {
		display: table;
	}
}

.wrapper{
	background-color: #f4f3ef;
}

.blink_border{
	border: 1px solid rgba(0, 0, 0, 1);
	animation: blinked 2s infinite;
}

@keyframes blinked{
	50% {
		border: 1px solid rgba(0, 0, 0, 0);
	}
}
